<br><br><br><br><br>
<div class="container"><h2>About-me</h2>
  <div class="row">
    <div class="col-md-4"><img src="<%= asset_path('bharath.jpg') %>" width="350px"/></div>
<div class="col-md-8">
  <p>I am Bharath Brahma, hailing from the Heritage city of Mysore belonging to Karnataka District and proudly from India.
I am a Photographer by hobby. I started clicking pictures in my mobile phone way back in 2010 and my friends noticed that I was doing
a pretty good job than others could do with the same device. With a lot of trial and errors in learning to click pictures,
Photography turned out to be a passion for me. I am really interested in clicking Candid Pictures, Potraits, Scenic Landscapes and more keen in clicking Macro shots.</p>
  <p>
    This website has solely been designed, developed and deployed by me. The technology stack I have used involves Ruby on Rails 4,
    Html 5, CSS 3, Bootstrap, MySql and Heroku for deployment. Code is mainted in GitHub and is open for anybody to fork it and
    make some improvements. Please let me know the your reviews in the Contact Page.
  </p>

</div>

  </div>

</div>
<br><br><br>